<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/SemanticUI/semantic.min.css">
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="../static/SemanticUI/semantic.min.js"></script>
        <style>
        </style>
    </head>
    <body>
        <div class="ui small modal">
            <div class="scrolling content">
                <div class="ui equal width padded center aligned grid">
                    <div class="row">
                        <img src="https://static.giantbomb.com/uploads/original/0/1176/230441-thehoff.jpeg">
                    </div>
                    <div class="row">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar nulla congue urna blandit vulputate. Phasellus sed commodo orci, vel condimentum dolor. Sed eu massa volutpat, ultricies urna eu, rutrum lectus. Phasellus fermentum felis ac arcu semper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex neque, at accumsan elit tempus sed. Vestibulum ac nulla id metus efficitur condimentum ac id dolor. Aenean malesuada eros eros, eu ultrices metus congue vitae. Vestibulum sit amet mi justo. Maecenas libero mauris, ullamcorper nec lacinia et, vestibulum ac nisl. Vestibulum maximus nec lectus in suscipit. Aenean convallis egestas metus, pulvinar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="thirteen wide column">
                    <h1 style="text-align:center;">Lead Actors</h1>
                    <div class="ui equal width padded grid">
                        <div class="row">
                            <div class="blue column">
                                <div class="ui equal width padded grid">
                                    <div class="row">
                                        <div class="column">
                                            <img src="https://static.giantbomb.com/uploads/original/0/1176/230441-thehoff.jpeg" onclick="actor0();" style="cursor:pointer;">
                                        </div>
                                        <div class="column">
                                            <h3>John Radditz (David Hasselhoff)</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar nulla congue urna blandit vulputate. Phasellus sed commodo orci, vel condimentum dolor. Sed eu massa volutpat, ultricies urna eu, rutrum lectus. Phasellus fermentum felis ac arcu semper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex neque, at accumsan elit tempus sed. Vestibulum ac nulla id metus efficitur condimentum ac id dolor. Aenean malesuada eros eros, eu ultrices metus congue vitae. Vestibulum sit amet mi justo. Maecenas libero mauris, ullamcorper nec lacinia et, vestibulum ac nisl. Vestibulum maximus nec lectus in suscipit. Aenean convallis egestas metus, pulvinar.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="red column">
                                <div class="ui equal width padded grid">
                                    <div class="row">
                                        <div class="column">
                                            <img src="https://static.giantbomb.com/uploads/original/0/1176/230441-thehoff.jpeg"  onclick="actor0();" style="cursor:pointer;">
                                        </div>
                                        <div class="column">
                                            <h3>John Radditz (David Hasselhoff)</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar nulla congue urna blandit vulputate. Phasellus sed commodo orci, vel condimentum dolor. Sed eu massa volutpat, ultricies urna eu, rutrum lectus. Phasellus fermentum felis ac arcu semper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex neque, at accumsan elit tempus sed. Vestibulum ac nulla id metus efficitur condimentum ac id dolor. Aenean malesuada eros eros, eu ultrices metus congue vitae. Vestibulum sit amet mi justo. Maecenas libero mauris, ullamcorper nec lacinia et, vestibulum ac nisl. Vestibulum maximus nec lectus in suscipit. Aenean convallis egestas metus, pulvinar.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="red column">
                                <div class="ui equal width padded grid">
                                    <div class="row">
                                        <div class="column">
                                            <img src="https://static.giantbomb.com/uploads/original/0/1176/230441-thehoff.jpeg" onclick="actor0();" style="cursor:pointer;">
                                        </div>
                                        <div class="column">
                                            <h3>John Radditz (David Hasselhoff)</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar nulla congue urna blandit vulputate. Phasellus sed commodo orci, vel condimentum dolor. Sed eu massa volutpat, ultricies urna eu, rutrum lectus. Phasellus fermentum felis ac arcu semper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex neque, at accumsan elit tempus sed. Vestibulum ac nulla id metus efficitur condimentum ac id dolor. Aenean malesuada eros eros, eu ultrices metus congue vitae. Vestibulum sit amet mi justo. Maecenas libero mauris, ullamcorper nec lacinia et, vestibulum ac nisl. Vestibulum maximus nec lectus in suscipit. Aenean convallis egestas metus, pulvinar.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blue column">
                                <div class="ui equal width padded grid">
                                    <div class="row">
                                        <div class="column">
                                            <img src="https://static.giantbomb.com/uploads/original/0/1176/230441-thehoff.jpeg"  onclick="actor0();" style="cursor:pointer;">
                                        </div>
                                        <div class="column">
                                            <h3>John Radditz (David Hasselhoff)</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar nulla congue urna blandit vulputate. Phasellus sed commodo orci, vel condimentum dolor. Sed eu massa volutpat, ultricies urna eu, rutrum lectus. Phasellus fermentum felis ac arcu semper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex neque, at accumsan elit tempus sed. Vestibulum ac nulla id metus efficitur condimentum ac id dolor. Aenean malesuada eros eros, eu ultrices metus congue vitae. Vestibulum sit amet mi justo. Maecenas libero mauris, ullamcorper nec lacinia et, vestibulum ac nisl. Vestibulum maximus nec lectus in suscipit. Aenean convallis egestas metus, pulvinar.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="blue column">
                                <div class="ui equal width padded grid">
                                    <div class="row">
                                        <div class="column">
                                            <img src="https://static.giantbomb.com/uploads/original/0/1176/230441-thehoff.jpeg" onclick="actor0();" style="cursor:pointer;">
                                        </div>
                                        <div class="column">
                                            <h3>John Radditz (David Hasselhoff)</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar nulla congue urna blandit vulputate. Phasellus sed commodo orci, vel condimentum dolor. Sed eu massa volutpat, ultricies urna eu, rutrum lectus. Phasellus fermentum felis ac arcu semper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex neque, at accumsan elit tempus sed. Vestibulum ac nulla id metus efficitur condimentum ac id dolor. Aenean malesuada eros eros, eu ultrices metus congue vitae. Vestibulum sit amet mi justo. Maecenas libero mauris, ullamcorper nec lacinia et, vestibulum ac nisl. Vestibulum maximus nec lectus in suscipit. Aenean convallis egestas metus, pulvinar.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="red column">
                                <div class="ui equal width padded grid">
                                    <div class="row">
                                        <div class="column">
                                            <img src="https://static.giantbomb.com/uploads/original/0/1176/230441-thehoff.jpeg"  onclick="actor0();" style="cursor:pointer;">
                                        </div>
                                        <div class="column">
                                            <h3>John Radditz (David Hasselhoff)</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar nulla congue urna blandit vulputate. Phasellus sed commodo orci, vel condimentum dolor. Sed eu massa volutpat, ultricies urna eu, rutrum lectus. Phasellus fermentum felis ac arcu semper suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sollicitudin ex neque, at accumsan elit tempus sed. Vestibulum ac nulla id metus efficitur condimentum ac id dolor. Aenean malesuada eros eros, eu ultrices metus congue vitae. Vestibulum sit amet mi justo. Maecenas libero mauris, ullamcorper nec lacinia et, vestibulum ac nisl. Vestibulum maximus nec lectus in suscipit. Aenean convallis egestas metus, pulvinar.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <script>
            function actor0() {
                $(".ui.small.modal").modal("show");
            }
        </script>
    </body>
</html>