<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="SemanticUI/semantic.min.css">
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="SemanticUI/semantic.min.js"></script>
        <style>
        </style>
    </head>
    <body>
        <div class="ui modal">
            <h1>lol</h1>
        </div>
        <div class="ui equal width center aligned padded stretched grid">
            <div class="row">
              <div class="blue pointer column" onclick="movieInfo('test-leikrarar.html')" style="cursor:pointer;">
                <div class="ui equal width grid">
                    <div class="stretched row">
                        <div class="six wide padded column">
                            <img src="http://imagesnt.educationindiaa.in/snapchat-funny1.jpg">
                        </div>
                        <div class="ten wide middle aligned  paddded column">
                            <p>Let your imagination be your guide. Everyone is going to see things differently - and that's the way it should be. All you need to paint is a few tools, a little instruction, and a vision in your mind.</p>
                        </div>
                    </div>
                </div>
              </div>
              
              
            </div>
            
        </div>
        <script>
            function movieInfo(value) {
                window.location=value;
            }
        </script>
    </body>
</html>